<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title><%= title %></title>
</head>

<body>
  <div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="max-w-sm bg-white shadow-lg rounded p-8">
      <h1 class="text-3xl mb-4 text-red-700">Error</h1>
      <p class="mb-6 text-red-400">An error occurred. Please try again later.</p>
      <a href="/scheduler" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded">Go to Dashboard</a>
    </div>
  </div>

</body>
</html>
