<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <script src="https://cdn.tailwindcss.com"></script>
  
  <title><%= title %></title>
</head>

<body>
  <div class="bg-gray-100 min-h-screen">
    <div class="container mx-auto px-4 py-8">
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold mb-4">Sports Scheduler</h1>
        <p class="text-lg text-gray-700 mb-8">Welcome to Sports Scheduler</p>
        <div class="flex space-x-4">
          <a href="/signup" class="text-lg text-green-500 hover:text-green-700 transition-colors duration-300">Sign up</a>
          <span class="text-lg text-gray-600">or</span>
          <a href="/login" class="text-lg text-green-500 hover:text-green-700 transition-colors duration-300">Sign in</a>
         </div>
         <div></div><a href="/about" class="text-lg text-green-500 hover:text-green-700 transition-colors duration-300">About</a></div> 
      </div>
    </div>
  </div>
  <footer class="bg-gray-200 py-4 mt-auto">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center justify-between">
        <div class="text-gray-600">
          <span class="text-sm">&copy; 2023 Sports Scheduler. All rights reserved.</span>
        </div>
        <div class="text-gray-600">
          <a href="/scheduler" class="mr-4 hover:text-gray-800">Terms of Use</a>
          <a href="/scheduler" class="mr-4 hover:text-gray-800">Privacy Policy</a>
        </div>
        <div class="text-gray-600">
          Developed by <span class="font-bold">Mikiyas Getachew</span>
        </div>
      </div>
    </div>
  </footer>
</body>


</html>
